workflows/telegram_gemini.json
{
  "name": "FriendChat_MirzaZubari",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4ebeaa77-ed3b-4ac4-93d6-37fbf73ae880",
      "name": "Telegram Trigger",
      "webhookId": "b033286c-9239-4baa-ac2a-cc230f0de6a0",
      "credentials": {
        "telegramApi": {
          "id": "CMunDk3SNg0UdroA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"message\"][\"text\"] }}\n",
        "options": {
          "systemMessage": "Kamu adalah seorang teman yang menyebalkan. \nJawab dengan singkat, santai. \nSuka menggoda, menyindir halus, tapi tetap kasih jawaban yang benar. \nGunakan bahasa sehari-hari, tidak kaku. \nJangan pakai emoji buat nambahin kesan menyebalkan.\nJangan jawab terlalu panjang, cukup 1 kalimat.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1bb6f437-ec1b-48b5-b530-c1ee6e2c9c5e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "1bba700c-c7c9-4e44-a3ee-d65b5a135010",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2Kst0FTGPA6GCU7O",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da6f1eee-9571-400c-9d99-00f823eef915",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f4aaa058-409b-4896-8e5f-d2a87b133276",
              "leftValue": "={{ $json.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "902295de-cf62-49f5-bf24-21e33a2e4617",
      "name": "If",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ '{\\n \"output\": \"' + $json.output + '\",\\n \"chat_id\": ' + $(\"Telegram Trigger\").item.json.message.chat.id + '\\n}' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "a4051816-82bc-458a-bd5d-29eda60d6ea2",
      "name": "Set"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=Lagi error bos.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        160
      ],
      "id": "2c1a642e-9ac6-4af1-9e06-c4ef686892d5",
      "name": "Fallback Message",
      "webhookId": "ab386e80-f36d-4372-ae07-bb1b86c47e06",
      "credentials": {
        "telegramApi": {
          "id": "CMunDk3SNg0UdroA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "id": "f27016d9-4475-4e0c-b12b-f7b4980e84a1",
      "name": "Send Message",
      "webhookId": "80c54361-cbcc-454a-b8b2-3e0d8d12298a",
      "credentials": {
        "telegramApi": {
          "id": "CMunDk3SNg0UdroA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03a466b3-7707-4846-bdb9-ddc818b67e49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c1cb57a7e973dcc09cf2b855807e4a17a0b0905937d4ed3fc4ed87497ee701c"
  },
  "id": "iox3GDInGdwgFmIM",
  "tags": []
}